 /*display flex 들어가보기*/
 @charset "utf-8";

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul {
	list-style:none;
}

.wrapper {
	width:1400px;
	margin:0 auto;
}

header {
	width:100%;
	height: 80px;
	position: relative;
}

.logo {
	position: absolute;
	left:100px;
	top:17px;
}

.logo > p {
	font-weight: bold;
	font-size:12px;
	color:rgba(0,0,0,0.5);
}

.logo > h3 {
	font-size:28px;
	color:#000;
}

#nav {
	position: absolute;
	right: 20px;
	top:0;
	width:500px;
	height:100%;
	display: flex;
}

#nav li:hover {
	background-color: #ddd;
	color: #161616;
}

#nav > li {
	height:100%;
	display:flex;
	position:relative;
	flex:1;
	justify-content:center; /*가운데로 정렬*/
	align-items:center;
}

#nav > li > .sidebar {
	position: absolute;
	right:0;
	border-right: 1px solid #ddd;
	height: 15px; /*옆에 줄*/
}

#visual {
	height:780px;
	width: 100%;
	background-image: url(./imgs/visual.png);
	background-position: center;
	background-size: cover;

}

/*#visual > .middle_img {
	width: 100%;
	margin: auto;
}*/

#visual > p {
	width:100%;
	text-align:center;
	font-size:14px;
	padding-top:100px;
	color:rgba(0,0,0,0.5);
	line-height: 1.7;
	margin-bottom: 10px;
}

#visual > h2 {
	font-size:110px;
	font-weight: bold;
	color:#1d486b;
	text-align: center;
}

#main {
	height:1280px;
	/*padding-top:20px;*/
	background-image: url(./imgs/content_img3.png);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}

/*#main .right_info img {
	z-index: -10;
	padding-right: 3500px;
}*/

#main > .content {
	padding:0 180px;
	position: relative;
	overflow: hidden;
	top: -20px;
}

.shape3 {
	z-index: -15;
}

/*#main .content img {

}*/

#main .right_info {
	text-align: right;
}

#main .right_info h3 {
	font-size:24px;
	color:#333;
}

#main .right_info h3 span {
	font-size:34px;
	color:#0d3182;
}

#main .right_info p {
	margin:10px 0;
	font-size:14px;
	color:#666;
	line-height: 1.6;
}

#main .left_info {
	margin-top:15px;
	text-align: left;
}

#main .left_info h3 {
	font-size:24px;
	color:#9e8967;
}

#main .left_info p {
	margin:30px 0;
	font-size:14px;
	line-height: 1.6;
	color:#666;
}

/*#main .left_info img {
	padding-bottom: 10000px;
	z-index: -10;
}*/

#main .img_wrap {
	position: relative;
	width:100%;
	height: 300px;
}

#main .img_wrap .left_img {
	position: absolute;
	left:0;
	top:-100px;
	z-index: 5;
	padding-top:210px;
	padding-left: 40px;
}

#main .img_wrap .left_img img {
	position: absolute;
	top:0px;
	left:0;
	z-index: -10;
}

#main .img_wrap .right_img {
	position: absolute;
	right:0;
	top:30px;
}

#main .img_wrap .left_img h3 {
	font-size:30px;
	color:#fff;
}

#main .img_wrap .left_img h3 span {
	font-size:50px;
	color:#fff;
}

#main .img_wrap .left_img p {
	padding-left: 10px;
	font-size:12px;
	line-height: 1.6;
	color:rgba(255, 255, 255, 0.5);
}

.icon_wrap {
	width: 100%;
}

.icon_wrap img {
	margin: 0 20px;
	transition: all 0.6s;
}

.icon_wrap img:hover {
	transform: scale(1.2);
}

#bottom {
	display: flex;
	height: 189px;
	width: 100%;
	position: relative;
	justify-content: space-between;
}

#centerbox {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 10;
	position: relative;
}

#centerbox .center {
	position: absolute;
	top: -50px; /*top이 - 일시 위로 올림*/
	width: 650px;
	height: 300px;
	background: #fff;
	padding-top: 45px;
	text-align: center;
	border-top: 1px solid #dadada;
}

#centerbox .icon_wrap img {
	margin: 0 30px;
}

#centerbox .center > p {
	margin-top: 10px;
	font-size: 20px;
	line-height: 1.5;
	color: #333;
}

#centerbox .center > p span {
	color: #5f1600;
	font-size: 25px;
}
#centerbox .bottom_center {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	padding-top: 20px;
	background: #ededed;
}

#centerbox .bottom_center > p {
	line-height: 1.6;
	font-size: 14px;
	color: #665;
}

footer {
	width: 100%;
	min-height: 200px;
	background: #625539;
	position: relative;
	overflow: hidden;
}

footer .bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	padding-top: 20px;
	border-top: 1px solid #554931; /*실선*/
}

footer .bottom p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	line-height: 1.2;
}

.shape3{
	position: absolute;
	left: 0;
	top:0;
}
.box{
	padding-top: 50px;
}

@media screen and (min-width: 481px) and (max-width: 780px) { /*481부터 780보단 작거나 같은애들한테만 적용시켜라*/ /*태블릿 사이즈*/
	
.wrapper {
		width: 780px;
	}

	header  {
		height: 140px;
	}

	header .logo {
		width: 100%;
		height: 80px;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		padding-top: 20px;
	}

	#nav {
		width: 100%;
		position: relative;
		height: 60px;
		left: 0px;
	}

	#visual p {
		font-size: 17px;
		padding-top: 20px;
	}

	#visual h2 {
		font-size: 80px;
		/*text-shadow: 2px 2px 2px rgba(255,255,255); 가로 세로 그림자 두게 그림자 색상*/
	}

	#visual h2 img {
		margin: auto;
		width: 90%;
		padding-bottom: 20px;
	}

	#visual {
		height: 450px;
	}

	#main {
		height: 1900px;
	}

	#main > .content {
		padding: 0;
	}

	#main .right_info {
		text-align: center;
		padding-bottom: 35px;
	}

	#main .right_info h3 {
		font-size: 22px;
	}

	#main .right_info h3 span {
		font-size: 32px;
	}

	#main .right_info p {
		font-size: 16px;
	}

	#main .img_wrap {
		height: auto;
	}

	#main .img_wrap .left_img {
		position: relative;
		left: 0;
		top: 0;
	}

	#main .img_wrap .left_img img {
		width: 100%;
	}

	#main .img_wrap .left_img h3 {
		padding-top: 100px;
	}

	#main .img_wrap .right_img img {
		width: 100%;
		padding-top: 120px;
	}

	#main .img_wrap .right_img {
		position: relative;
		right: 0;
		top: 0;
	}

	#main .left_info h3 {
		padding-top: 20px;
	}

	#main .left_info {
		margin-top: 15px;
		text-align: center;
		font-size: 30px;
	}

	#centerbox .center {
		position: relative;
		top: 0;
		width: 100%;
		height: 300px;
	}

	#centerbox .bottom_center p {
		font-size: 13px;
	}

	#bottom > .left_img > img {
		width: 100%;
		height: 150px;
	}

	#bottom > .right_img > img {
		width: 100%;
		height: 150px;
	}

	#bottom {
		height: 150px;
	}

	footer .bottom {
		height: 120px;
	}

}

 /*모바일 버전*/
@media screen and (max-width: 480px) {
	.wrapper {
		width: 480px;
	}

	header  {
		height: 140px;
	}

	header .logo {
		width: 100%;
		height: 80px;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		padding-top: 20px;
	}

	#nav {
		width: 100%;
		position: relative;
		height: 60px;
		left: 0px;
	}

	#visual p {
		font-size: 12px;
		padding-top: 50px;
	}

	#visual h2 {
		font-size: 50px;
		/*text-shadow: 2px 2px 2px rgba(255,255,255); 가로 세로 그림자 두께 그림자 색상*/
	}

	#visual h2 img {
		margin: auto;
		width: 90%;
	}

	#visual {
		height: 450px;
	}

	#main {
		height: 1380px;
	}

	#main > .content {
		padding: 0;
	}

	#main .right_info {
		text-align: center;
	}

	#main .right_info h3 {
		font-size: 18px;
	}

	#main .right_info h3 span {
		font-size: 28px;
		padding-bottom: 30px;
	}

	#main .right_info p {
		font-size: 12px;
	}

	#main .img_wrap {
		height: auto;
	}

	#main .img_wrap .left_img {
		position: relative;
		left: 0;
		top: 0;
	}

	#main .img_wrap .right_img {
		position: relative;
		right: 0;
		top: 0;
	}

	#main .left_info {
		margin-top: 15px;
		text-align: center;
	}

	#centerbox .center {
		position: relative;
		top: 0;
		width: 100%;
		height: 300px;
	}

	#centerbox .bottom_center p {
		font-size: 13px;
	}

	#bottom > .left_img > img {
		width: 100%;
		height: 150px;
	}

	#bottom > .right_img > img {
		width: 100%;
		height: 150px;
	}

	#bottom {
		height: 150px;
	}

	footer .bottom {
		height: 120px;
	}
}